doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Нямушка
		//css
		link(rel="stylesheet" href="css/style.min.css")
		link(rel="stylesheet" href="css/normalize.css")
		//fonts
		link(href="https://fonts.googleapis.com/css?family=Exo+2:100&amp;subset=cyrillic" rel="stylesheet")
		link(href="fonts/TrebuchetMS.ttf" rel="stylesheet")
	body
		.header
			h1 Ты сегодня покормил кота?
		.content
			.content__card-small
				.content__card-small-default.content__card-small-default-visible
					.content__card-small-default-bg#content__card-small-default-event
						p.content__card-small-header Сказочное заморское яство
						h2 Нямушка
						h3 с фуа-гра
						h4 <b>10</b> порций
						h4 мышь в подарок
						.content__card-small-circle-default
							p.content__card-small-circle-weight 0,5
							p.content__card-small-circle-unit кг
					p.content__card-small-default-discr Чего сидишь? Порадуй котэ, 
						a(href="#")#content__card-small-link-selected-event купи.
				.content__card-small-selected.content__card-small-selected-hidden
					.content__card-small-selected-bg#content__card-small-selected-event
						p.content__card-small-selected-text.content__card-small-selected-text-visible Сказочное заморское яство
						p.content__card-small-selected-hover.content__card-small-selected-hover-hidden Котэ не одобряет?
						h2 Нямушка
						h3 с фуа-гра
						h4 <b>10</b> порций
						h4 мышь в подарок
						.content__card-small-circle-selected
							p.content__card-small-circle-weight 0,5
							p.content__card-small-circle-unit кг
					p.content__card-small-selected-discr Печень утки разварная с артишоками.
				.content__card-small-disabled.content__card-small-disabled-hidden
					.content__card-small-disabled-bg
						p.content__card-small-header-disabled Сказочное заморское яство
						h2 Нямушка
						h3 с фуа-гра
						h4 <b>10</b> порций
						h4 мышь в подарок
						.content__card-small-circle-disabled
							p.content__card-small-circle-weight 0,5
							p.content__card-small-circle-unit кг
					p.content__card-small-disabled-discr Печалька, с фуа-гра закончился.
			.content__card-middle
				.content__card-middle-default.content__card-middle-default-hidden
					.content__card-middle-default-bg#content__card-middle-default-event
						p.content__card-middle-header Сказочное заморское яство
						h2 Нямушка
						h3 с рыбой
						h4 <b>40</b> порций
						h4 <b>2</b> мыши в подарок
						.content__card-middle-circle-default
							p.content__card-middle-circle-weight 2
							p.content__card-middle-circle-unit кг
					p.content__card-middle-default-discr Чего сидишь? Порадуй котэ, 
						a(href="#")#content__card-middle-link-selected-event купи.
				.content__card-middle-selected.content__card-middle-selected-visible
					.content__card-middle-selected-bg#content__card-middle-selected-event
						p.content__card-middle-selected-text.content__card-middle-selected-text-visible Сказочное заморское яство
						p.content__card-middle-selected-hover.content__card-middle-selected-hover-hidden Котэ не одобряет?
						h2 Нямушка
						h3 с рыбой
						h4 <b>40</b> порций
						h4 <b>2</b> мыши в подарок
						.content__card-middle-circle-selected
							p.content__card-middle-circle-weight 2
							p.content__card-middle-circle-unit кг
					p.content__card-middle-selected-discr Головы щучьи с чесноком да свежайшая сёмгушка.
				.content__card-middle-disabled.content__card-middle-disabled-hidden
					.content__card-middle-disabled-bg
						p.content__card-middle-disabled-header Сказочное заморское яство
						h2 Нямушка
						h3 с рыбой
						h4 <b>40</b> порций
						h4 <b>2</b> мыши в подарок
						.content__card-middle-circle-disabled
							p.content__card-middle-circle-weight 2
							p.content__card-middle-circle-unit кг
					p.content__card-middle-disabled-discr Печалька, с рыбой закончился.
			.content__card-big
				.content__card-big-default.content__card-big-default-hidden
					.content__card-big-default-bg#content__card-big-default-event
						p.content__card-big-header Сказочное заморское яство
						h2 Нямушка
						h3 с курой
						h4 <b>100</b> порций
						h4 <b>5</b> мышей в подарок
						h4 заказчик доволен
						.content__card-big-circle-default
							p.content__card-big-circle-weight 5
							p.content__card-big-circle-unit кг
					p.content__card-big-default-discr Чего сидишь? Порадуй котэ, 
						a(href="#")#content__card-big-link-selected-event купи.
				.content__card-big-selected.content__card-big-selected-hidden
					.content__card-middle-selected-bg#content__card-big-selected-event
						p.content__card-big-selected-text.content__card-big-selected-text-visible Сказочное заморское яство
						p.content__card-middle-selected-hover.content__card-middle-selected-hover-hidden Котэ не одобряет?
						h2 Нямушка
						h3 с курой
						h4 <b>100</b> порций
						h4 <b>5</b> мышей в подарок
						h4 заказчик доволен'
						.content__card-big-circle-selected
							p.content__card-big-circle-weight 5
							p.content__card-big-circle-unit кг
					p.content__card-big-selected-discr Филе из цыплят с трюфелями в бульоне.
				.content__card-big-disabled.content__card-big-disabled-visible
					.content__card-big-disabled-bg
						p.content__card-big-header-disabled Сказочное заморское яство
						h2 Нямушка
						h3 с курой
						h4 <b>100</b> порций
						h4 <b>5</b> мышей в подарок
						h4 заказчик доволен'
						.content__card-big-circle-disabled
							p.content__card-middle-circle-weight 5
							p.content__card-middle-circle-unit кг
					p.content__card-big-disabled-discr Печалька, с курой закончился.
		script(src="js/event.js")
		script(src="js/mouseout.js")